<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="./jquery.js"></script>
  <script type="text/javascript" src="./myfirst.js"></script>
  <link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>
  <h1>My Todo List</h1>
<br><br><br>
<p><select name="select" id="opt">
    <option>All tasks</option>
    <option>Completed tasks</option>
    <option>Not completed tasks</option>
    </select>
</p>
<div id="a"></div>
<table id="table">
</table>
<br>
<a href = "http://localhost:3000/test" class="button">Add</a>

</body>
</html>