<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="./jsquery.js"></script>
  <script type="text/javascript" src="./homePage.js"></script>
  <link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>
  <h1>My Todo List</h1>
<p><select name="select" id="opt">
    <option>All tasks</option>
    <option>Completed tasks</option>
    <option>Not completed tasks</option>
    </select>
</p>
<div id="a"></div>
<table id="table">
</table>
<br>
<a href = "http://192.168.1.16:3000/test" class="button">Add</a>
<div id="myModal" class="modal">

    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
      </div>
      <div class="modal-body">
<div id="taskis"></div>
      </div>
      <div class="modal-footer">
        <h3>My tasks</h3>
      </div>
    </div>
  
  </div>
</body>
</html>
